   <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading text-uppercase">Tales & Ales</div>
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search for a book">
              </div>
           <!-- <button type="submit" class="btn btn-default">Search</button>
            <button type="submit" class="btn btn-default">Log-In</button> -->
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Search</a>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Provide Suggestions</a>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Log-In</a>
          </form>
        </div>
      </div>
    </header>

    